* {
  box-sizing: border-box;
}

.Header{
  background-color: lightgray;
  height: 50px;
  display: flex;
  justify-content: space-between;
  &__logo{
    margin: 0 0 0 15px;
    height: 100%;
    font-size: 22px;
    line-height: 50px;
  }
  &__Box{
    margin: 0 0 0 auto;
    height: 100%;
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__Name{
      color: black;
      font-size: 16px;
    }
    &__icon{
      font-size: 16px;
      text-decoration: none;
      color: black;
    }
  }
}
.Body{
  background-color: white;
  height: calc( 100vh - 100px );
  .Switch{
    background-color: lightcyan;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: flex;
    overflow: hidden;
    &__Request{
      width: 50%;
      border: 1px solid black;
    }
    &__Approve{
      width: 50%;
      border: 1px solid black;
    }
  }
  .New-request{
    margin: 15px 15px;
    padding: 3px;
    border: 1px solid blue;
    width: fit-content;
    background-color: lightgray;
    text-decoration: none;
    color: blue;
    display: block;
  }
  .Request{
    display: flex;
    height: 500px;
    justify-content: space-around;
    &__Unapproved{
      width: 45%;
      border: 1px solid black;
    }
    &__Approved{
      width: 45%;
      border: 1px solid black;
    }
  }
}
.Footer{
  background-color: gray;
  height: 50px;
}